  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/semantic.min.js"></script>
  <script src="/js/prism.js"></script>
  <script src="/js/app.min.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-97176621-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-97176621-1');
  </script>
  </body>
</html>
