{{ partial "header" . }}

<!-- Sidebar Menu -->
<div class="ui sidebar inverted vertical menu left">
  <a class="item" href="/">Home</a>
  <a class="item" href="/start">Get Started</a>
  <a class="item" href="/how">How It Works</a>
  <a class="item" href="/docs">Docs</a>
  <a class="item" href="https://github.com/zboxfs/zbox">GitHub</a>
</div>

<!-- Main Content -->
<div class="pusher">
  <header class="ui basic vertical segment">
    <div id="site-nav" class="ui container">
      <div class="ui large text menu">
        <a class="toc item mobile only"><i class="sidebar icon"></i></a>
        <a class="item mobile hidden" href="/"><h1 class="ui large header">Zbox</h1></a>
        <nav class="right item mobile hidden">
            <a class="item" href="/start">Get Started</a>
            <a class="item" href="/how">How It Works</a>
            <a class="item" href="/docs">Docs</a>
            <a class="ui primary basic button" href="https://github.com/zboxfs/zbox">GitHub</a>
        </nav>
      </div>
    </div>
  </header>
  <main class="ui container basic vertical segment">
    <section id="hero" class="ui stackable centered grid">
      <div class="center aligned three wide column">
        <img src="svg/logo.svg" />
      </div>
      <div class="seven wide column mobile center">
        <h1 class="ui huge header">Keep App Files Securely and Privately</h1>
        <p>Zbox is a zero-details, privacy-focused embeddable file system.</p>
        <button class="ui huge primary button">
          Get Started <i class="arrow circle right icon"></i>
        </button>
      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer class="ui inverted basic segment">
    <div class="ui container">
      <div class="ui stackable grid">
        <div class="four wide column mobile center">
          <img src="svg/logo.svg" width="25" />
          <p>Zbox is a zero-details, privacy-focused embeddable file system.</p>
          <p class="social">
            <a href="https://github.com/zboxfs/zbox"><i class="github icon"></i></a>
            <a href="https://twitter.com"><i class="twitter icon"></i></a>
          </p>
          <p class="copyright">&copy; 2017-2018 Zbox</p>
        </div>
        <div class="six wide column mobile hidden">fix</div>
        <div class="six wide column mobile hidden">six</div>
      </div>
    </div>
  </footer>

</div>

{{ partial "footer" . }}

