{{ partial "header" . }}

<!-- Sidebar Menu -->
<div class="ui sidebar inverted vertical menu left">
  <a class="item" href="/">Home</a>
  <a class="item" href="/start">Get Started</a>
  <a class="item" href="/how">How It Works</a>
  <a class="item" href="https://docs.rs/zbox">Docs</a>
  <a class="item" href="https://github.com/zboxfs/zbox">GitHub</a>
</div>

<!-- Main Content -->
<div class="pusher">
  <!-- Page Header -->
  <header class="ui basic vertical segment">
    <div id="site-nav" class="ui container">
      <div class="ui large text menu">
        <a class="toc item mobile only"><i class="sidebar icon"></i></a>
        <a class="item mobile hidden" href="/"><img class="logo" src="svg/logo-text.svg" alt="Zbox" /></a>
        <nav class="right item mobile hidden">
            <a class="item" href="/start">Get Started</a>
            <a class="item" href="/how">How It Works</a>
            <a class="item" href="https://docs.rs/zbox">Docs</a>
            <a class="ui primary basic button" href="https://github.com/zboxfs/zbox">GitHub</a>
        </nav>
      </div>
    </div>
  </header>

  <main class="ui basic vertical segment">
    <!-- Hero -->
    <section id="hero" class="ui basic vertical segment container">
      <div class="ui stackable centered grid">
        <div class="center aligned three wide column">
          <img src="svg/logo.svg" alt="Zbox Logo" />
        </div>
        <div class="seven wide column mobile center">
          <h1 class="ui huge header">Keep App Files Securely and Privately</h1>
          <p>Zbox is a zero-details, privacy-focused embeddable file system</p>
          <button class="ui huge primary button">
            Get Started <i class="arrow circle right icon"></i>
          </button>
        </div>
      </div>
    </section>

    <!-- How it works -->
    <section id="how-it-works" class="ui inverted vertical segment">
      <div class="ui stackable three column grid container">
        <div class="center aligned sixteen wide column">
          <h2>How It Works</h2>
        </div>
        <div class="column">
          <img src="svg/key.svg" width="40" />
          <h4>100% Encrypted, Privacy Reserved Repository</h4>
          <p>Encrypted by state-of-the-art crypto, files, directories and metadata are encapsulated in a highly secure repository, which makes data leakage impossible.</p>
        </div>
        <div class="column">
          <img src="svg/safe.svg" width="40" />
          <h4>Exclusive Access, In-App File System</h4>
          <p>A dedicated and isolated file system running completely inside your app, no other processes can access your precious data.</p>
        </div>
        <div class="column">
          <img src="svg/data_protection.svg" width="40" />
          <h4>No-Knowledge, Plugable Storages</h4>
          <p>Memory, on-disk files, RDBMS(*) and key-value object store(*) can all be plugged as underlying storage, while having zero knowledge of your data.</p>
          <p class="coming-soon">(*) coming soon</p>
        </div>
      </div>
    </section>

    <!-- Features -->
    <section id="features" class="ui vertical segment">
      <div class="ui stackable centered grid container">
        <div class="center aligned sixteen wide column">
          <h2>Features</h2>
        </div>
        <div class="row">
          <div class="ten wide column">
            <div class="ui relaxed large list">
              <div class="item">
                <i class="checkmark icon"></i>
                <div class="content">Everything is encrypted, including metadata and directory structure</div>
              </div>
              <div class="item">
                <i class="checkmark icon"></i>
                <div class="content">State-of-the-art cryptography: AES-256-GCM (hardware), XChaCha20-Poly1305, Argon2 and etc.</div>
              </div>
              <div class="item">
                <i class="checkmark icon"></i>
                <div class="content">Content-based data chunk deduplication and file-based deduplication</div>
              </div>
              <div class="item">
                <i class="checkmark icon"></i>
                <div class="content">Data compression using LZ4 in fast mode</div>
              </div>
              <div class="item">
                <i class="checkmark icon"></i>
                <div class="content">Data integrity is guaranteed by authenticated encryption primitives (AEAD crypto)</div>
              </div>
              <div class="item">
                <i class="checkmark icon"></i>
                <div class="content">File contents versioning</div>
              </div>
              <div class="item">
                <i class="checkmark icon"></i>
                <div class="content">Copy-on-write (COW) semantics</div>
              </div>
              <div class="item">
                <i class="checkmark icon"></i>
                <div class="content">ACID transactional operations</div>
              </div>
              <div class="item">
                <i class="checkmark icon"></i>
                <div class="content">Snapshot</div>
              </div>
              <div class="item">
                <i class="checkmark icon"></i>
                <div class="content">Multiple storages, including memory, OS file system, RDBMS (*), key-value object store (*)</div>
              </div>
              <div class="item coming-soon">
                (*) coming soon
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer id="footer" class="ui inverted basic segment">
    <div class="ui container">
      <div class="ui stackable grid">
        <section class="left floated four wide column mobile center">
          <p><a href="/"><img src="svg/logo-full-dark.svg" height="32" alt="Zbox" /></a></p>
          <p>A zero-details, privacy-focused embeddable file system</p>
          <div id="social" class="ui inverted horizontal link list">
            <a class="item" href="https://github.com/zboxfs/zbox"><i class="github icon"></i></a>
            <a class="item" href="https://twitter.com/ZboxFS"><i class="twitter icon"></i></a>
          </div>
          <p id="copyright">&copy; 2017-2018 Zbox</p>
        </section>
        <section class="right floated nine wide column mobile hidden">
          <nav id="bottom-nav" class="ui two column grid">
            <section class="column">
              <h4 class="ui inverted header">How to Use</h4>
              <div class="ui inverted link list">
                <a class="item" href="/how">How It Works</a>
                <a class="item" href="https://docs.rs/zbox">Read the Docs</a>
              </div>
            </section>
            <section class="column">
              <h4 class="ui inverted header">Community</h4>
              <div class="ui inverted link list">
                <a class="item" href="https://github.com/zboxfs/zbox">GitHub Repo</a>
                <a class="item" href="https://github.com/zboxfs/zbox/issues">Submit an Issue</a>
                <a class="item" href="https://gitter.im/zboxfs/zbox">Join Chat</a>
              </div>
            </section>
          </nav>
        </section>
      </div>
    </div>
  </footer>

</div>

{{ partial "footer" . }}

